@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 70px;
    font-weight: 700;
    color: #535353;
    
}

h2{
    font-size: 60px;
    font-weight: 700;
    color: #535353;
   
}

h4{
    font-size: 27px;
    font-weight: 650;
    color: #535353;
   
}

h6{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    

}

p{
    font-size: 20px;
    font-weight: 400;
    color: #535353;
    margin: 20px 0;    

}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:#E3E6F3 ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

#navbar li{
    list-style: none;
    padding: 0 25px;
    position: relative;
    
}


#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #535353;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: #61b3b6;
}

#navbar li a.active::after, 
#navbar li a:hover::after {
    content: "";
    width: 30%; 
    height: 2px;
    background-color: #61b3b6; 
    position: absolute;
    bottom: -4px;
    left: 28%; 
    transition: width 0.3s ease; 
}

#phone{
    display: none;
    align-items: center;
}

#cross{
    display: none;

}

#hero{
    background-image: url('./img/hero4.png');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction:column ;
    align-items: flex-start;
    justify-content: center;

    h1{
        color: #579ea0;
    }

    h4{
        padding-bottom: 15px;
    }

    button{
        background-image: url('./img/button.png');
        background-color: transparent;
        color: #579ea0;
        border: 0;
        padding: 14px 80px 14px 58px;
        font-size: 22px;
        background-repeat: no-repeat;
        font-weight: 700;
        cursor: pointer;
    }

  
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 80px;
    .fe-box{
        width: 180px;
        text-align: center;
        padding: 26px 16px;
        box-shadow: 10px 10px 34px rgba(109, 109, 109, 0.07);
        border: 1px solid #e6e6e6;
        margin: 15px 0;
        border-radius: 5px;

        h6{
            display: inline-block;
            line-height: 1;
            padding: 8px 9px;
            color: #3b595a;
            background-color: #ff9ed8;
        }

        img{
            width: 100%;
            margin-bottom: 5px;
        }

    }

    .fe-box:hover{
        box-shadow: 20px 20px 54px rgba(10, 10, 0, 0.09);
        transition: 0.3s ease;
    }

    .fe-box:nth-child(2) h6 {
        background-color: #75cead;
    }

    .fe-box:nth-child(3) h6 {
        background-color: #bcdb7e;
    }

    .fe-box:nth-child(4) h6 {
        background-color: #d9d17f;
    }

    .fe-box:nth-child(5) h6 {
        background-color: #dbb578;
    }

    .fe-box:nth-child(6) h6 {
        background-color: #c2b1f7;
    }

}

#product1{
    padding: 33px 80px;
    text-align: center;
    
    .pro-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .pro{
        width: 23%;
        min-width: 250px;
        padding: 12px 12px;
        border: 1px solid #d1d1d1;
        border-radius: 21px;
        box-shadow: 10px 10px 34px rgba(109, 109, 109, 0.07);
        margin: 32px 0;
        position: relative;
        img{
            width: 100%;
            border-radius: 16px;
        }

        .des{
            text-align: start;
            padding: 10px 0;

            span{
                color: #8f8f8f;
                font-size: 18px;
                font-weight: 600;
            
            }

            h5{
                font-size: 20px;
                color: #535353;
                padding-top: 8px;
            }

            i{
                margin-top: 5px;
                font-size: 15px;
                color: rgb(243, 181, 25);
                
            }

            h4{
                padding-top: 10px;
                font-size: 22px;
                color: #5d937f;
            }
        }

        .cart{
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50px;
            background-color: #e0f6f3;
            color: #3baa9b;
            border: 1px solid #e0f6f3;
            position: absolute;
            bottom: 18px;
            right: 16px;
        }
    }

    .pro:hover{
        box-shadow: 20px 20px 54px rgba(10, 10, 0, 0.09);
        transition: 0.3s ease;
        cursor: pointer;
    }
}

#banner{
    margin: 39px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

    h4{
        color: #75cead;
        margin-bottom: 12px;
        font-size: 30px;
    }
    h2{
        color: #ddcfcf;
        font-size: 48px;
        span{
            color: #fd0000;
        }
    }

    button{
        background-color: #e9e8e8;
        margin-top: 16px;
        padding: 14px 30px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        outline: none;
    }

    button:hover{
        background-color: #61b3b6;
        color: #ffffff;
        transition: 0.2s ease-in-out;
    }
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 22px 80px;

    .banner-box{
        margin: 39px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url(./img/banner/b17.jpg);
        min-width: 580px;
        height: 50vh;
        background-size: cover;
        background-position: center;
        padding: 30px;

        h4{
            color: #ffffff;
            margin-bottom: 12px;
            font-size: 30px;
            
        }
        h2{
            color: #a44848;
            font-size: 48px;
           
        }

        span{
            color: #ffffff;
            font-size: 20px;
            font-weight: 500;
            margin-top: 12px;
        }
    
        button{
            background-color: transparent;
            margin-top: 16px;
            padding: 14px 30px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            border: 2px solid #ffffff;
            outline: none;
            color: #ffffff;
        }
    
        button:hover{
            background-color: #a2c66f;
            border: 2px solid #2d2d2d;
            color: #ffffff;
            transition: 0.2s ease-in-out;
        }
    }

    .b-2{
        background-image: url(./img/banner/b10.jpg);

        h4{
            color: #ffffff;
            margin-bottom: 12px;
            font-size: 30px;
            
        }
        h2{
            color: #f4ff7b;
            font-size: 48px;
           
        }

        span{
            color: #ffffff;
            font-size: 20px;
            font-weight: 500;
            margin-top: 12px;
        }
        
        button:hover{
            background-color: #a2c66f;
            border: 2px solid #2d2d2d;
            color: #ffffff;
            transition: 0.2s ease-in-out;
        }
    }
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;

    .banner-box{
        margin: 36px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url(./img/banner/b7.jpg);
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
    }

    .b2{
        background-image: url(./img/banner/b4.jpg);
        
        h2{
            font-size: 26px;
        }
        h4{
            color: #e2ffb4;
        }
    }
       
    .b3{
        background-image: url(./img/banner/b18.jpg);
        h4{
            color: #1900ff;
        }

        h2{
            font-size: 30px;
        }
    }

        h2{
            color: #fff;
            font-size: 36px;
            margin-bottom: 9px;
        }

        h4{
            color: #ffdfdf;
            font-size:22px;
        }
}


#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(./img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #04084c;
    padding: 42px 80px;
    margin: 22px 0;

    h4{
        color: #ffbbbb;
        font-size: 30px;
    }

    p{
        color: #ffffff;
        font-size: 20px;
        margin: 12px 0;

        span{
            color: #ffd000;
            font-weight: 600;
        }
    }

    .form{
        display: flex;
        width: 40%;
    }
    input{
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    button{
            cursor: pointer;
            outline: none;
            color: #ffffff;
            font-size: 18px;
            padding: 0 20px;
            white-space: nowrap;
            background-color: #02763e;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }


}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-top: 60px;
    margin-bottom: 30px; */
    padding: 48px 80px;

   .logo{
    margin-bottom: 30px;
   }

   .col h4{
    font-size: 24px;

   }

   .col p{
    font-size: 19px;
   }

   .follow{
    margin-top: 35px;

        .icon{
            margin-top: 10px;
            font-size: 20px;
        }
   }
   
   .col2{
        h4{
            font-size: 24px;
            margin-bottom: 20px;
        }

        ul{
            list-style: none;
            font-size: 18px;
          li{
            margin: 10px 0;
            a{
                text-decoration: none;
                color: #535353;
                transition: 0.3s ease;
            }
            a:hover{
                color: #61b3b6;
            }
          }
        }
   }

   .col3{
        h4{
            font-size: 24px;
            margin-bottom: 20px;
        }

        ul{
            list-style: none;
            font-size: 18px;
          li{
            margin: 10px 0;
            a{
                text-decoration: none;
                color: #535353;
                transition: 0.3s ease;
            }
            a:hover{
                color: #61b3b6;
            }
          }
        }
   }

   .install{
        h4{
            font-size: 24px;
            margin-bottom: 20px;
        }

        .row img{
            border: 1px solid #61b3b6;
            border-radius: 6px;
        }
   }

    .copyright{
        width: 100%;
        text-align: center;
    }  
}


/* Shop-page */

#page-header{
    background-image: url(./img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
    padding: 14px;

    h2{
        color: #ffffff;
    }

    p{
        color: #ffffff;
    }
}

#pagination{
    text-align: center;
    padding: 34px 0;
    a{
        text-decoration: none;
        color: #000000;
        font-weight: 600;
        font-size: 20px;
        padding: 14px 18px;
        background-color: #61b3b6;
        margin: 0 2px;
        border-radius: 4px;
    }
}



/* Single product details */

#pro-details{
    display: flex;
    padding: 40px 80px;
    margin-top: 26px;
    margin-bottom: 28px;
    .single-pro-image{
        width: 40%;
        margin-right: 50px;
    
    }

    .small-img-group{
        display: flex;
        justify-content: space-between;

        .small-img-col{
            flex-basis: 24%;
            cursor: pointer;
            margin-top: 8px;
        }
    }

    .single-pro-details{
        width: 60%;
        padding-top: 40px;
        padding-left: 20px;

        a{
            text-decoration: none;
            color: #030303;
            background-color: #b4b4b4;
            padding: 3px 12px;
            border-radius: 4px;
            font-size: 20px;
            font-weight: 600;
            display: inline-block;
            cursor: pointer;
        }
        h6{
            font-size: 18px;
            padding: 20px 0 20px 0;
        }
        h4{
            padding:10px 0 15px 0;
            color: #000000;
        }
        h2{
            font-size: 34px;
            padding-bottom: 20px;
            font-weight: 600;
            
        }
        select{
            display: block;
            padding: 8px 10px;
            margin-bottom: 11px;
            font-size: 16px;
        }
        input{
            width: 62px;
            padding: 5px 10px;
            height: 44px;
            margin-right: 10px;
            font-size: 20px;
            outline: none;
        }
        button{
            background-color: #7cd1d4;
            padding: 12px 20px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            border: none;
            outline: none;
        }
        button:hover{
            background-color: #5fc3c7;
        }

        .description{
            margin-top: 48px;
            h4{
                color: #000000;
            }
            span{
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

}


/* Blog Page */

#page-header.blog-header{
     background-image: url(./img/banner/b19.jpg);
    }

#blog{
    padding: 150px 150px 0 150px;

    .blog-box{
        display: flex;
        margin-bottom: 96px;
        align-items: center;
        width: 100%;
        position: relative;
        h1{
            position: absolute;
            top: -49px;
            left: 0;
            color: #a1a1a1;
            z-index: -9;
            font-weight: 600;
        }

        .blog-img{
            width: 50%;
            margin-right: 40px;

            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }

        .blog-details{
            width: 50%;
            margin-left: 40px;
            

            a{
                text-decoration: none;
                color: #000000;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                position: relative;
            }
    
        }

        .blog-details a::after{
            content: "";
            width: 50px;
            height: 2px;
            background-color: #000000;
            position: absolute;
            top: 18px;
            right: -60px;
        }

        .blog-details a:hover{
            color: #61b3b6;
            transition: 0.4s ease;
        }

        .blog-details a:hover::after{
            width: 100%;
            transition: width 0.4s ease;
            top:20px;
        }
        

    }


}



/* About Page */

#page-header.about-header{

    background-image: url(./img/about/banner.png);
    
}

#about-head{
   padding: 50px 80px;
    display: flex;
    align-items: center;
    img{
        width: 50%;
        height: auto;
        margin-right: 30px;
    }

   div{
    padding-left: 30px;
    marquee{
        font-size: 20px;
    
    }
   }
}

#about-app{
    margin: 36px 0 20px 0;
    text-align: center;
    .video{
        width: 70%;
        height: 100%;
        margin: 30px auto 0 auto;
        
        video{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
}



/* Contact */

#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 60px;

    .details{
        width: 40%;
        h2{
            font-size: 42px;
            line-height: 36px;
            padding: 20px 0;
        }

        h3{
            font-size: 24px;
            margin-bottom: 26px;
        }

           div li{
                list-style: none;
                display: flex;
                padding: 16px 0;

                i{
                    padding-right: 14px;
                }
                p{
                    margin: 0;
                }
            }
        
    }

    .map{
        width: 55%;
        height: 400px;

        iframe{
            width: 100%;
            height: 100%;
        }
    }
}



/* Responsive */

@media(max-width: 799px){
   
    #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 280px; 
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.2s ease-in-out;

    li{
        margin-bottom: 25px;
    }

    #bag{
        display: none;
    }

    #cross{
        display: initial;
        position: absolute;
        top: 24px;
        right: 225px;
        font-size: 28px;
        color: #535353;
        cursor: pointer;
    
    }

}

#navbar.active{
    right: 0;
}

#phone{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

#phone i{
   font-size: 22px;
   padding-left: 30px;
   color: #252525;
}

#hero{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
}

#feature{
    justify-content: center;
    padding: 40px 40px;

    .fe-box{
        margin: 15px 14px;
    }

}

#product1{

    .pro-container{
        justify-content: center;
     
        .pro{
            
            margin: 22px;
            
        }
    }
}

#banner{
    height: 22vh;
   
}

#sm-banner{

    .banner-box {
        margin: 15px 0;    
        min-width: 100%;
        height: 25vh;
    }
}

#banner3 {
    
    padding: 0 28px;

    .b3{
        margin: 12px 0;
        width: 100%;
    
    }
}

#newsletter{
    .form {
        width: 70%;
    }
}


}

@media(max-width: 477px){
   
    #header {
        padding: 12px 30px;
    }

    #hero {
        padding: 0 16px;
        background-position: 54%;
        h2{
            font-size: 38px;
        }
        h1{
            font-size: 50px;
        }
        p{
            color: #ad8181;
            font-weight: 400;
            font-size: 22px;
        }
    }

    #feature {
        padding: 20px;
        justify-content: space-between;
        .fe-box {
            width: 170px;
            padding: 20px 16px;
            box-shadow: 10px 10px 32px rgba(0, 0, 0, 0.07);
            margin: 12px 0;
        }
    }

    #product1 {
        padding: 33px 10px;
        h2{
            font-size: 42px;
        }
        p{
            font-weight: 500;
        }

        .pro {
            width: 100%;
        }
    }

    #banner {
        width: 100%;
        height: 30vh;
        
        h4{
            font-size: 30px;
        }
        h2{
            font-size: 30px;
        }

        button{
            font-size: 20px;
        }
    }

    #sm-banner {
        padding: 20px 15px;

        .banner-box {
            width: 100%;
            height: 40vh;
            
        }
    }

    #banner3 {
        padding: 0 15px;

        .banner-box {
            width: 100%;
            height: 24vh;
            margin: 10px 0;
        }
    }

    #newsletter{
        padding: 40px 20px;
        .form {
            width: 100%;
        }
    }

    footer {
        justify-content: space-between;
        padding: 40px 36px;

        .follow {
            margin: 35px 0;

            .icon {
                margin-top: 10px;
                font-size: 22px;
                
            }
        }

        .install{
            h4{
                margin-top: 20px;
            }
        }
    }


    /* Single product */

    #pro-details{
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        margin-top: 26px;
        margin-bottom: 28px;

        .single-pro-image {
            width: 100%;
            
        }

        .single-pro-details {
            width: 100%;
           padding: 40px 0 0 0;
        }
    }


    /* Blog page phone */

    #blog{
        padding: 90px 20px 0px 20px;
        .blog-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .blog-img{
                width: 100%;
               margin-bottom: 18px;
            }

            .blog-details{
                width: 100%;
            }
        }
    }

    #pagination {
        text-align: center;
        padding: 16px 0;
    }


    
    /* About Page Phone */

    #about-head{
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        img {
            width: 100%;
            height: auto;
            margin: 10px 0;
        }

        div {
            padding-left: 0;
            margin-top: 20px;
            h2{
                font-size: 34px;
            }
        }
    }

    #about-app{
        h1 {
            font-size: 40px;
            font-weight: 700;
            color: #535353;
        }

        .video{
            width: 100%;
            padding: 0 20px;
        }
    }

}


